<div class="flex-col">
  <div class="home-header">
    <div class="ninety-perc">
      <div class="flex-row">
        <span class="material-symbols-rounded mg-r-sm fg-primary">network_intelligence</span>
        <h1 class="fg-primary">Gamma</h1>
      </div>
    </div>
  </div>
  <div class="ninety-perc flex-col">
    <p class="pd-v-sm">Talk to gemma3:1b with a fast Angular Frontend.</p>
    <div class="input-container">
      <textarea class="prompt-textarea" [(ngModel)]="userInput" placeholder="Enter message..."></textarea>
      <button (click)="sendMessage()" [disabled]="isLoading">Send</button>
    </div>
    <div class="chat-container pd-v-sm flex-col">
      @for (message of messages; track message) {
        <div [ngClass]="message.sender" class="message bg-surface">
          @if (message.sender === 'ai') {
            <div class="message-title flex-row">
              <span class="material-symbols-rounded mg-r-sm fg-secondary">network_intelligence</span>
              <h2 class="fg-secondary">Gamma</h2>
            </div>
            <markdown [data]="message.text"></markdown>
          } @else {
            <div class="message-title flex-row">
              <span class="material-symbols-rounded mg-r-sm fg-primary">account_circle</span>
              <h2 class="fg-primary">You</h2>
            </div>
            <p>
              {{ message.text }}
            </p>
          }
        </div>
      } @empty {
        <div class="message system">
          <p>Send a message to start the conversation.</p>
        </div>
      }

      @if (isLoading) {
        <div class="message system">
          <p>Thinking...</p>
        </div>
      }      
    </div>
  </div>
</div>
<router-outlet />
