@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('../assets/fonts/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../assets/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --background-color: #1d1d1d;
  --surface-color: #222222;
  --surface-top-color: #333333;
  --foreground-color: #f4f4f4;
  --primary-color: #33bce6;
  --secondary-color: #0bddb0;
  --tertiary-color: #0f2635;
}

.home-header {
  width: 100%;
  padding: 1rem;
  background-color: var(--surface-color);
}

.home-title {
  padding: 0;
}

.input-container {
  padding: 1.5rem;
  width: 100%;
}

.prompt-bar {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
  margin: auto;
  background-color: var(--surface-top-color);
  border-radius: 100px;
}

.prompt-bar textarea {
  flex: 1;
  flex-grow: 1;
}

.prompt-bar button {
  padding: 0 1rem;
}

.message {
  padding: 0.5rem 0.8rem;
  margin-bottom: 10px;
  border-radius: 10px;
}

.message.user {
  background-color: var(--tertiary-color);
  color: var(--foreground-color);
}

.message.ai {
  background-color: var(--surface-color);
}

.message.system {
  color: var(--secondary-color); 
  border: 1px solid var(--secondary-color);
  border-radius: 10px; 
  align-self: center;
}

.message.system p {
  font-family: 'ProductSans';
  font-size: 19px;
}

.message-title {
  margin: 0 0 10px 0;
}
